<ul>
  <a href="/">
    <li>Home</li>
  </a>
  <a href="/FAQ">
    <li>FAQ</li>
  </a>
  <a href="/dual-enrollment">
    <li>NVCC Dual Enrollment</li>
  </a>
  <a href="/early-college-scholars">
    <li>Virginia Early College Scholars</li>
  </a>
  <a href="/courses">
    <li>Courses</li>
  </a>
  <a href="/online">
    <li>Online / Summer Options</li>
  </a>
  <a href="/calendar">
    <li>Calendar</li>
  </a>
  <a href="/points">
    <li>CASIIT Points</li>
  </a>
</ul>