<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>CASIIT</title>

    <%const title = 'CASIIT'%>
    <%const homeactive = 'active'%>
    <%const faqactive = ''%>
    <%const dualactive = ''%>
    <%const earlyactive = ''%>
    <%const coursesactive = ''%>
    <%const onlineactive = ''%>
    <%const calendaractive = ''%>
    <%const pointsactive = ''%>
</head>

<body>
    <%include embeds/header.ejs%>
</body>

</html>