<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/css/general.css" />
  <title>CASIIT</title>
  <%const title = 'Online / Summer Options'%>
    <%const homeactive = ''%>
      <%const faqactive = ''%>
        <%const dualactive = ''%>
          <%const earlyactive = ''%>
            <%const coursesactive = ''%>
              <%const onlineactive = 'active'%>
                <%const calendaractive = ''%>
                  <%const pointsactive = ''%>
</head>

<body>
  <%include embeds/header.ejs%>
</body>

</html>